#adress{
    display: flex;
    align-items: center;
    color: navy;
    min-width: 570px;
    
}
#ff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blank {
    margin: 40px 30px 40px 40px;
}
#fir{
    display: flex;
    justify-content: space-between;
}
#face {
    justify-content: right;
    height: 250px;
    margin: 0px 20px 20px 20px;
}
form {
    width: 100%;
}
#bbig {
    display: inline;
    width: 25cm;
    padding: 20px 20px 20px 20px;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ), url('../images/back.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
    
}
#adress img {
    margin: 0px 15px 0px 15px;
}
#left {
    width: 40%;
    display: inline-block;
    min-width: 300px;
    align-items: center;
}
strong {
    color: navy;
}
#right {
    display: inline-block;
    width: 40%;
    min-width: 300px;
}

hr {
    border: 2px solid navy;

}
#hr {
    min-width: 300px;
}
#main {
    display: flex;
    justify-content: space-between;
    min-width: 650px;
}
